.bt{
	text-align: center;	

	button{
		width: 100%;
		color: $font-cor;
		padding: 2px 0px;
		background: white;
		@extend .borda-padrao;
		@extend .border-radius;

		span{
			@extend .font-small;
			text-transform: uppercase;
		}
	}

	button:hover{
		color: white;
		background: #4e4e4e;
	}
}