$corP: #a8395c;

* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 14px;
}

header{
  background: $corP;

  *{
  	font-weight: normal;
  }
}

h1{
  color: $corP;
  font-size: 36px;
  font-weight: normal;
}